
@if (ViewBag.sufficient == true)
{
    <main ng-controller="hotelListCtrl" class="row justify-content-sm-center">
        <section class="jumbotron scrollable col-12 col-md-12 col-lg-12 col-xl-8" id="hotel-details">
            <div class="main-content">
                <div class="top-container">
                    <h2 class="form-heading dynamic-text m-b-0">@Html.Raw(String.Format(@Resources.Strings.hotelListLine, "<label class=\"budgetRange\">"+@ViewBag.maxBudget+"</a>"))</h2>
                </div>
                <div id="flexible-dates" class="sticky">
                    <h2 class="dynamic-text" ng-show="withFlexDates">@Resources.Strings.HotelListHeading</h2>
                    <h2 class="dynamic-text" ng-show="withoutFlexDates">@Html.Raw(String.Format(@Resources.Strings.HotelListHeadingWithoutFlex, "<label class=\"dateRange\" ng-bind=\"dateRange\"></label>"))</h2>

                    <div class="scrollmenu" id="dates"></div>
                    <h3 class="total">@Resources.Strings.total <label class="currency"></label><label class="sum"></label></h3>
                </div>
                <div id="hotels">
                    <h2 class="mainText">@Resources.Strings.hotelSectionMainText</h2>
                </div>

                <!-- The loading modal popoup-->
                <div class="modal" id="loading" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="sk-cube-grid">
                                    <div class="sk-cube sk-cube1"></div>
                                    <div class="sk-cube sk-cube2"></div>
                                    <div class="sk-cube sk-cube3"><div class="middle-round"></div></div>
                                    <div class="sk-cube sk-cube4"></div>
                                    <div class="sk-cube sk-cube5"><div class="middle-round"></div></div>
                                    <div class="sk-cube sk-cube6"></div>
                                    <div class="sk-cube sk-cube7"><div class="middle-round"></div></div>
                                    <div class="sk-cube sk-cube8"></div>
                                    <div class="sk-cube sk-cube9"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end loading modal popoup-->
            </div>
        </section>
    </main>

    @section hotellist{
        <script>
            var hotellistAPI = "@ViewBag.App_Domain/api/user/GetCityHotels?reqId=@ViewBag.reqId";
            var fromText = "@Resources.Strings.from";
            var flexDates = @Html.Raw(Json.Encode(@ViewBag.FlexDates));
            var hotelListMainSectionText = "@Resources.Strings.hotelListMainSectionText";
            var night = "@Resources.Strings.night";
            var datesLength = flexDates.length;
            var durationBG = "@ViewBag.Domain/assets/images/home/duration.png";
            var more ="@Html.Raw(Server.HtmlDecode(@Resources.Strings.more))";
            var less = "@Html.Raw(Server.HtmlDecode(@Resources.Strings.less))";
        </script>
        <script src="@ViewBag.Domain/js/hotel-list-min.js"></script>
    }
}
else
{
    <main>
        <section class="jumbotron" id="Redirect">
            <div class="redirect-image">
                <img src="@ViewBag.Domain/assets/images/home/redirect.gif" alt="travelling"/>
                <div class="main-content bg-overlay">
                    <h2>@Resources.Strings.WaitingMessage..</h2>
                    <h2>@Resources.Strings.WaitingMessage2</h2>
                </div>
            </div>
        </section>
    </main>
}


