﻿<main ng-controller="tripPlanCtrl" 
      style="background-image: url('@ViewBag.Domain/assets/images/home/date-bg.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <section class="jumbotron" id="trip-plan">
        <div class="main-content" id="trip-plan-form">

            <!-- dates selection -->
            <div id="form-dates" class="tb-hidden" ng-show="formDates">
                <h2 class="form-heading dynamic-text">@Resources.Strings.Date</h2>
                <div class="input-group date" id="datepicker" data-provide="datepicker">
                    <input type="text" class="form-control dates" placeholder="@Resources.Strings.datePlaceholder" ng-model="destinationDate" ng-value="fixedDate">
                    <div class="input-group-addon input-group-prepend">
                        <span class="far fa-calendar-alt"></span>
                    </div>
                    <label class="error-msg animate-show-hide" id="error-dates" ng-if="dateError" ng-init="dateError=false">@Resources.Strings.PlDepDate</label>
                </div>
                <h3 class="center-text m-t-50">@Resources.Strings.FlexibleSub1</h3>
                <div>
                    <button type="button" class="flex" value="1">
                        <span class="days-section">1 @Resources.Strings.Flexday</span><br />
                        <span class="description">@Resources.Strings.FlexDescription</span>
                    </button>
                    <button type="button" class="flex" value="2">
                        <span class="days-section">2 @Resources.Strings.Flexdays</span><br />
                        <span class="description">@Resources.Strings.FlexDescription</span>
                    </button>
                    <button type="button" class="flex" value="3">
                        <span class="days-section">3 @Resources.Strings.Flexdays</span><br />
                        <span class="description">@Resources.Strings.FlexDescription</span>
                    </button>
                </div>
                <h3 class="center-text">@Resources.Strings.FlexibleSub2</h3>
                <button class="btn btn-primary next-btn" id="saveDates" role="button" type="button" ng-click="saveDates()">@Resources.Strings.Next</button>
            </div>

            <!-- destination selection -->
            <div id="form-destination" class="tb-hidden" ng-show="formDestination">
                <h2 class="form-heading dynamic-text">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanDestination, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>"))</h2>
                <div class="country-box">@Resources.Strings.SriLanka</div>

                @*<div class="dropdown" id="country">
                        <button class="btn btn-default dropdown-toggle selectDestination" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="{{countryCode}}">
                            {{country}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            @foreach (var obj in ViewBag.CityList)
                            {
                                foreach (var x in obj.CountryNames)
                                {
                                    <li><a data-value=@obj.SortOrder ng-click="countrySelection($event)">@x.CountryName</a></li>
                                }
                            }
                        </ul>
                    </div>*@
                @*<h2 class="middle-heading">@Resources.Strings.TopDestinations</h2>*@

                <a ng-click="unskipCities()">
                    <img src="@ViewBag.Domain/assets/images/home/city.png" class="city-icon">
                    <h3 class="destinationsubText">@Html.Raw(String.Format(@Resources.Strings.destinationSubText, "<span class=\"country-name\"  ng-bind=\"country\"></span>"))?</h3>
                </a>
                <button class="btn btn-primary next-btn" id="saveDestination" role="button" type="button" ng-click="skipCities()">@Resources.Strings.Next</button>
            </div>

              <!-- cities -->
                <div id="form-cities" class="tb-hidden" ng-show="formCities">
                    <div class="row selected-city-description carousel slide col-sm" id="selected-city-description" data-ride="carousel">
                        <div class="carousel-inner"></div>
                        <a class="carousel-control-prev" href="#selected-city-description" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#selected-city-description" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="carousel-caption d-md-block">
                        <h2 class="city-heading"></h2><br />
                        <p class="city-description"></p>
                    </div>

                    <div class="row cities">
                        <div class="dark-bg"></div>
                        <section class="center slider"></section>
                    </div>

                    <div class="col-12">
                        <label class="error-msg" id="error-cities" ng-show="errorCities">@Resources.Strings.selectCities</label>
                        <button class="btn btn-primary next-btn" id="saveDestination" role="button" type="button" ng-click="saveCities()">@Resources.Strings.Next</button>
                    </div>
                    @*<div class="row cities">
                        <div class="prevItem col-sm"></div>
                        <div id="cities" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner"></div>
                        </div>
                        <a class="carousel-control-prev" href="#cities" role="button" data-slide="prev" ng-click="cityRotate()">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#cities" role="button" data-slide="next" ng-click="cityRotate()">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="nextItem col-sm"></div>
                        <div class="col-12">
                            <label class="error-msg" id="error-cities" style="display:none;">@Resources.Strings.selectCities</label>
                            <button class="btn btn-primary next-btn" id="saveDestination" role="button" type="button" ng-click="saveCities()">@Resources.Strings.Next</button>
                        </div>
                    </div>*@
                </div>

                <!-- trip duration -->
                <div id="form-duration" class="tb-hidden" ng-show="formDuration">
                    <h2 class="form-heading dynamic-text m-b-0">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanDurationUnskipped, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>"))</h2>
                    <div class="cities-selected" ng-show="unskippedCities">
                        <h3 class="middle-heading">@Resources.Strings.JourneyPlanDestinationSubText</h3>
                        <div class="city-duration list" id="lhs">
                            <label class="error-msg" id="error-duration" ng-show="errorDurationUnskipped">@Resources.Strings.DayCount</label>
                        </div>

                        <button class="btn btn-primary next-btn" id="saveDuration" role="button" type="button" ng-click="saveDuration()">@Resources.Strings.Next</button>
                    </div>
                    <div class="cities-not-selected" ng-show="skippedCities">
                        @*<h2 class="form-heading dynamic-text">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanDurationSkipped, "<a ng-click=\"gotoDates()\" title=\"edit\" class=\"departureDate\"></a>", "<a ng-click=\"gotoDestination()\" title=\"edit\" class=\"destination text-capitalize\"></a>"))</h2>*@
                        <h3 class="middle-heading">@Resources.Strings.budgetSkippedMainText</h3>
                        <div class="country-selection">
                            <div class="city-section">
                                <div class="city-image">
                                    <img ng-src="{{countryThumbnail}}" />
                                </div>
                                <div class="duration-days">
                                    <input type="number" class="form-control total-days" ng-model="getCountryDuration" ng-value="setCountryDuration" placeholder="@Resources.Strings.PlNoofMaxdays" />
                                    <label>@Resources.Strings.Flexdays</label>
                                </div>
                            </div>


                            @*<div class="justify-content-sm-center">
                            <input type="number" class="form-control total-days" ng-model="getCountryDuration" ng-value="setCountryDuration" placeholder="@Resources.Strings.PlNoofMaxdays" />
                            <label>@Resources.Strings.Flexdays</label>
                        </div>*@
                        </div>
                        <label class="error-msg" id="error-duration" ng-show="errorDurationSkipped">@Resources.Strings.DayCount</label>
                        <button class="btn btn-primary next-btn" id="saveDestination" role="button" type="button" ng-click="saveDurationSkippedMode()">@Resources.Strings.Next</button>
                    </div>
                </div>
                <!-- traveller count -->
                <div id="form-count" class="tb-hidden" ng-show="formCount">
                    <h2 class="form-heading dynamic-text m-b-0" ng-show="skippedCitiesLine">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanCount, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>", "<a ng-click=\"gotoDuration()\" title=\"Click here to edit Duration\" class=\"duration\"></a>"))</h2>
                    <h2 class="form-heading dynamic-text m-b-0" ng-show="unSkippedCitiesLine">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanCountCityList, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>", "<a ng-click=\"gotoCities()\" title=\"Click here to edit Cities\" class=\"city-list-with-days\"></a>"))</h2>
                    <h3 class="middle-heading">@Resources.Strings.thereWillBe</h3>
                    <div id="count">
                        <div id="parents" class="row justify-content-center">
                            <div>
                                <img src="@ViewBag.Domain/assets/images/parent.png" />
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control" ng-model="getAdult" ng-value="setAdult" placeholder="@Resources.Strings.noOfAdults" />
                            </div>

                            <label class="error-msg" id="error-count" ng-show="errorCount">@Resources.Strings.ErrorCount</label>
                        </div>
                        <div id="children" class="row justify-content-center">
                            <div class="child-description">
                                <img src="@ViewBag.Domain/assets/images/kid.png" />
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control" ng-model="getChild" ng-value="setChild" placeholder="@Resources.Strings.noOfChildren" />
                            </div>
                        </div>
                        <label class="child-age">@Resources.Strings.childAgeLimit</label>
                    </div>
                    <h3 class="form-heading m-t-30">@Resources.Strings.joiningPhase</h3>
                    <button class="btn btn-primary next-btn" id="saveCount" role="button" type="button" ng-click="saveCount()">@Resources.Strings.Next</button>
                </div>

                <!-- budget selection -->
                <div id="form-budget" class="tb-hidden" ng-show="formBudget">
                    @*<h2 class="form-heading dynamic-text">
                    @Html.Raw(String.Format(@Resources.Strings.JourneyPlanBudgetText, "<a ng-click=\"gotoDates()\" title=\"edit\" class=\"departureDate\"></a>", "<a ng-click=\"gotoDestination()\" title=\"edit\" class=\"destination text-capitalize\"></a>", "<a ng-click=\"gotoDuration()\" title=\"edit\" class=\"duration\"></a>", "<a ng-click =\"gotoCount()\" title=\"edit\" class=\"count\"></a>"))
                </h2>*@

                    <h2 class="form-heading dynamic-text" ng-show="skippedCitiesLine">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanBudgetText, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>", "<a ng-click=\"gotoDuration()\" title=\"Click here to edit Duration\" class=\"duration\"></a>", "<a ng-click=\"gotoCount()\" title=\"Click here to edit Passengers\" class=\"count\"></a>"))</h2>
                    <h2 class="form-heading dynamic-text" ng-show="unSkippedCitiesLine">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanBudgetwithCities, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>", "<a ng-click=\"gotoCities()\" title=\"Click here to edit Cities\" class=\"city-list-with-days\"></a>", "<a ng-click=\"gotoCount()\" title=\"Click here to edit Passengers\" class=\"count\"></a>"))</h2>
                    <h3 class="middle-heading">@Resources.Strings.MyBudget</h3>

                    <label id="minBudget"></label>
                    <label id="maxBudget"></label>

                    <div class="slider-container">
                        <div id="slider-custom"></div>
                    </div>

                    <h3 class="form-heading font-weight-normal">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanBudgetSpending, "<label id=\"minBudget1\"></label>", "<label id=\"maxBudget1\"></label>"))</h3>
                    <button class="btn btn-primary next-btn" id="saveBudget" role="button" ng-click="saveBudget()">@Resources.Strings.Next</button>
                </div>

                <!-- email -->
                <div id="form-email" class="tb-hidden" ng-show="formEmail">
                    @*<h2 class="form-heading dynamic-text">
                    @Html.Raw(String.Format(@Resources.Strings.JourneyPlanEmailText, "<a ng-click=\"gotoDates()\" title=\"edit\" class=\"departureDate\"></a>", "<a ng-click=\"gotoDestination()\" title=\"edit\" class=\"destination text-capitalize\"></a>", "<a ng-click=\"gotoDuration()\" title=\"edit\" class=\"duration\"></a>", "<a ng-click =\"gotoCount()\" title=\"edit\" class=\"count\"></a>", "<a ng-click =\"gotoBudget()\" title=\"edit\" class=\"budget\"></a>"))
                </h2>*@

                    <h2 class="form-heading dynamic-text" ng-show="skippedCitiesLine">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanEmailText, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>", "<a ng-click=\"gotoDuration()\" title=\"Click here to edit Duration\" class=\"duration\"></a>", "<a ng-click=\"gotoCount()\" title=\"Click here to edit Passengers\" class=\"count\"></a>", "<a ng-click =\"gotoBudget()\" title=\"Click here to edit Budget\" class=\"budget\"></a>"))</h2>
                    <h2 class="form-heading dynamic-text" ng-show="unSkippedCitiesLine">@Html.Raw(String.Format(@Resources.Strings.JourneyPlanEmailWithCities, "<a ng-click=\"gotoDates()\" title=\"Click here to edit Departure Date\" class=\"departureDate\"></a>", "<a ng-click=\"gotoCities()\" title=\"Click here to edit Cities\" class=\"city-list-with-days\"></a>", "<a ng-click=\"gotoCount()\" title=\"Click here to edit Passengers\" class=\"count\"></a>", "<a ng-click =\"gotoBudget()\" title=\"Click here to edit Budget\" class=\"budget\"></a>"))</h2>
                    <h3 class="form-heading">@Resources.Strings.emailPackageDetails</h3>

                    <div class="btn-group btn-group-vertical">
                        <label class="middle-heading radio-container package-details">
                            @Resources.Strings.EmailPackages
                            <input type="radio" name="radio" value="1">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <input type="text" class="form-control wrap-center email" placeholder="@Resources.Strings.PlYourEmail" />
                    <label class="error-msg" id="error-email" style="display:none;">@Resources.Strings.EmailCorrectly</label>

                    <div class="btn-group btn-group-vertical">
                        <label class="middle-heading radio-container package-details">
                            @Resources.Strings.SeeOnWeb
                            <input type="radio" name="radio" value="2">
                            <span class="checkmark"></span>
                        </label>
                    </div>


                    @*<div class="btn-group btn-group-vertical">
                    <label class="container middle-heading package-details">
                        @Resources.Strings.EmailNeed
                        <input type="checkbox" name="chkbx" value="1">
                        <span class="checkmark"></span>
                    </label>
                </div>*@
                    <button class="btn btn-primary next-btn" id="saveEmail" ng-click="saveEmail()" role="button">@Resources.Strings.Done</button>
                    <div id="cookie" style="display:none">
                        <h3>Cookie notification</h3>
                        <p>We use cookies to deliver best possible web experience. By continueing and using the site, you consent to the use of cookies. If you wish to disable them, please click Cancel button</p>
                        <button type="button" class="btn btn-default" ng-click="cancelCookie()">Cancel</button>
                        <button type="button" class="btn accept-btn" ng-click="saveEmail()">Continue</button>
                    </div>

                </div>

                <!-- confirm -->
                <div id="form-confirm" class="tb-hidden" style="display:none;">
                    <h2 class="form-heading">@Resources.Strings.TripDetails</h2>
                    <button class="btn btn-primary next-btn" id="confirm" role="button">@Resources.Strings.Okay</button>
                </div>

                <!-- error -->
                <div id="form-error" class="tb-hidden" style="display:none;">
                    <h2 class="form-heading">@Resources.Strings.ErrorMessage</h2>
                    <h2 class="form-heading">@Resources.Strings.errorConfirmation</h2>
                    <button class="btn btn-primary next-btn" id="confirm" role="button">@Resources.Strings.HomePage</button>
                </div>
            </div>
         @*The loading modal popoup*@
        <div class="modal"  id="loading" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="sk-cube-grid">
                            <div class="sk-cube sk-cube1"></div>
                            <div class="sk-cube sk-cube2"></div>
                            <div class="sk-cube sk-cube3"><div class="middle-round"></div></div>
                            <div class="sk-cube sk-cube4"></div>
                            <div class="sk-cube sk-cube5"><div class="middle-round"></div></div>
                            <div class="sk-cube sk-cube6"></div>
                            <div class="sk-cube sk-cube7"><div class="middle-round"></div></div>
                            <div class="sk-cube sk-cube8"></div>
                            <div class="sk-cube sk-cube9"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    var bookingAPI = "/api/user/userRequest";
    var backgroundImages =
        [{
            Id: 0,
            URL: "@ViewBag.Domain/assets/images/home/0.jpg"
        },
        {
            Id:1,
            URL: "@ViewBag.Domain/assets/images/home/0.jpg" // should be 1.jpg
            }];

    var CityInfo = @Html.Raw( Json.Encode(
                 (IEnumerable<TravelBot.Common.Models.JourneyPlanModel>)ViewBag.CityList
                 ));


    var countryThumbnail = CityInfo[0].CountryThumbnailUrl;
    day = "@Resources.Strings.Flexday";
    days = "@Resources.Strings.Flexdays";
    var datesBG = "@ViewBag.Domain/assets/images/home/date-bg.png";
    var durationBG = "@ViewBag.Domain/assets/images/home/duration.png";
    var destinationBg = "@ViewBag.Domain/assets/images/home/0.jpg";
    var MaxDaysHelpText = "@Resources.Strings.PlNoofMaxdays";
    var countBG = "@ViewBag.Domain/assets/images/home/count-bg.png";
    var budgetBG = "@ViewBag.Domain/assets/images/home/budget-bg.png";
    var emailBG = "@ViewBag.Domain/assets/images/home/email-bg.png";
    var selectedCounty = "obj.CountryNames[0].CountryName";
    var forText = "@Resources.Strings.For";
    and = "@Resources.Strings.And";
    adult = "@Resources.Strings.adult";
    adults = "@Resources.Strings.adults";
    child = "@Resources.Strings.child";
    children = "@Resources.Strings.children";
    to = "@Resources.Strings.to";
    ofText = "@Resources.Strings.of";
    var perDayMin = 50;
    var perDayMax = 500;
</script>

@section plan{
    <script src="@ViewBag.Domain/js/plan-min.js"></script>
    <script>
        $('#selected-city-description').carousel();

        //$('#cities').carousel({
        //    interval: false
        //});
        //sortable city containers
        //$('#lhs').sortable({ connectWith: '.droppable' })
    </script>
}
