﻿<section class="jumbotron" id="stop-search">
    <div class="main-content">
        <h2 class="middle-heading">Done searching?</h2>
        <h2 class="form-heading">why do you stop searching?</h2>
        <div class="btn-group btn-group-vertical">
            <label class="radio-container reasons">
                I have already found my place
                <input type="radio" name="stop" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="radio-container reasons">
                Change of plans to not do this trip 
                <input type="radio" name="stop" value="2">
                <span class="checkmark"></span>
            </label><label class="radio-container reasons">
                Found a better package, method in some other way
                <input type="radio" name="stop" value="3">
                <span class="checkmark"></span>
            </label>
            <label class="radio-container reasons">
                Other
                <input type="radio" name="stop" value="4">
                <span class="checkmark"></span>
            </label>
        </div>
        <textarea class="comment-of-stop" rows="2" style="display: none;"></textarea>
        <button class="btn btn-primary center-btn" id="stopSearch" role="button">Done</button>
    </div>
</section> b
<script>
    var stopSearchingAPI = "@ViewBag.APP_Domain/api/notification/StopSearch/@ViewBag.SessionId";
</script>
@section stopSearch{
    <script src="@ViewBag.Domain/js/stop-search-min.js"></script>
}

