﻿<main ng-controller="tripManagertCtrl">
    <section class="jumbotron hero-image main-container"
            style="background-image: url('@ViewBag.Domain/assets/images/home/hero-image.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"
            id="trip-manager">
        <!-- particular journey -->
        <div class="container">
            <div class="bottom-container row clearfix trip-containers">
                <div class="col-md-12 text-center">
                    <h2 class="form-heading dynamic-text">@Resources.Strings.myTrip</h2>
                    <div id="filters" style="display:none">
                        <a href="" id="newer" class="selected">Newer</a>
                        <a href="" id="older">Older</a>
                    </div>
                    <div class="row history"></div>
                    <div class="no-results-messgae"></div>
                </div>
            </div>
        </div>
    </section>
</main>
@section tripManager{
    <script src="@ViewBag.Domain/js/trip-manager-min.js"></script>
    <script>
        cityId0 = "@ViewBag.Domain/assets/images/home/0.jpg";
        cityId1 = "@ViewBag.Domain/assets/images/home/1.jpg";
        calendar = "@ViewBag.Domain/assets/images/cities/calendar-icon.png";
        to = "@Resources.Strings.to";
        tripStart = "@Resources.Strings.startIn";

    </script>
}
