﻿<section class="jumbotron hero-image" id="Redirect">
    <div class="main-content bg-overlay">
        <h1>@Resources.Strings.WaitingMessage</h1>
        <h1>@Resources.Strings.RedirectingMessage <label>@ViewBag.Source</label></h1>
    </div>
</section>
<script>
    window.location.href = "@ViewBag.HotelUrl".replace(/&amp;/g, '&');
</script>