body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-Light",Helvetica,Arial,sans-serif !important;
}   
.wrap-center {
    margin:0 auto;
}
.m-t-50 {
    margin-top:50px;
}
.m-b-0 {
    margin-bottom:0!important;
}
.scrollable {
    overflow: visible;
}

input[type=number] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
        -webkit-appearance: none; 
        margin: 0; 
    }
}

//inheritance 
.elements-fit-to-577-up {
    width: 500px;
    min-width: 220px;
}

.elements-fit-to-576-down {
    max-width: 500px;
    min-width: 10px;
    width: 100%;
}
.m-t-30 {
    margin-top: 30px;
}

