// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) { 
    #trip-plan-form {
        .dropdown button, .dropdown .dropdown-menu, .date, .day, #form-dates .custom-checkbox, .email, .city-duration, .country-selection {
            max-width: 500px;
            min-width: 10px;
            width: 100%;
        }
        #count{
            width:auto;
            .child-age {
                margin: 10px 0 0 0;
            }
        }
        input:not(.days, #slider1, #slider1) {
            width: 80%;
        }
        .dropdown-menu li {
            padding: 5px
        }
        #form-dates .checkbox-container .checkmark {
            top: 2px;
        } 
        #form-email {
            .btn-group-vertical {
                display: block;
                max-width: 500px;
                min-width: 10px;
                width: 100%;
                margin: 0 auto;
                
                .checkbox-container {
                    font-size: 20px;
     
                    .checkmark {
                        top: 2px;
                    }

                }
                .radio-container {
                    font-size: 20px;
                    .checkmark {
                        top: 4px;
                    }
                }
            }  
        }
        #form-duration {
            .country-selection{
                min-height: 210px;
                .city-section {
                    min-height: 215px;
                }
                .duration-days {
                    left: 0px;
                    input.total-days {
                        margin: 10px 0;
                        + label {
                            margin: 16px 0 0 10px;
                        }
                    }
                }
            }
            .city-duration{
                min-height: 270px;
                .city-section {
                    min-height: 270px;
                }
                .duration-days {
                    left: 10px;
                }
            }

            .city-duration, .country-selection {
                .city-section {
                  //  min-height: 270px;

                    .drag-icons {
                        width: 50px;
                    }

                    .city-image {
                        width: 150px;
                        img {
                            width: 100px;
                            max-width: 100px;
                            height: 100px;
                        }
                    }
                    .duration-days {
                        position: relative;
                        width: 93%;
                    }
                }
                .cities-not-selected {
                    width: auto;
                    .city-section, .country-selection {
                        input{
                            width:100%;
                        }
                    }
                }
            }
        }


        #cities {
            margin-top: 30px;
        }
        .selected-cities {
            margin: 30px auto 30px;
        }  
        #form-cities {
            .cities {
                .prevItem, .nextItem {
                    display: none;
                }
            }
            .city-description {
                display: block;
                text-overflow: ellipsis;
                word-wrap: break-word;
                overflow: hidden;
                max-height: 14em;
                line-height: 1.8em;
                width: 254px;
                text-align: left;
            }
        } 
    }
    .partner-logo {
        top: -11px;
    }
    .plan-container {
        .booking-history{
            margin-top: 50px;
            border-left: none;
        }
        .icon-text {
            display: block;
            margin: 0 auto;
        }
    }
    #change-language {
        bottom: 59px;
    }
    
    header {
        .navbar-brand {
            width: 50%;
            .logo {
                float: left;
                width: 140px;
                height: auto;
                display: inline-block;
            }
        }
    }
    #index {
        .main-content{
            margin-top: 30px;
        }
    }
    h2, .flex .days-section, #trip-plan-form .checkbox-container, #stop-search .radio-container, #form-budget h4  {
        font-size: 22px;
    }
    
    .center-text, .flex .description, .destinationsubText, h3 {
        font-size: 20px;
    }

    .dropdown button, input, .input-group-text {
        font-size: 18px;
        height: 40px;
    }
    .btn-primary { 
        padding: 7px 28px;
        width: 100%;
        font-size: 20px;
    }
    #stop-search {
        .comment-of-stop {
            width: 100%;
        }
    } 
    .error-image {
        &.jumbotron {
            padding: 20px 10px 0;

            h1 {
                margin: 0 0 15px;
                &.heading {
                    font-size:35px;
                }
            }
        }
    }
    #hotels {
        padding:50px 20px 1px;
    }
    #parents, #children {
        p, label, i {
            text-align: center;
        }
    }
    #maxBudget{
        position: relative;
        left:80px;
        font-size: 20px;
    }
    #minBudget{
        position: relative;
        right:80px;
        font-size: 20px;
    }
    .slider-container {
        width: 250px;
    }
    section.range-slider {
        width: 150px;
        
        input {
            width:200px;
        }
    }
    #trip-manager {
        .tb-travel-box {
            min-height: 280px;
            .location-thumb {
                img {
                    width: 120px;
                }
            }
            .location-description {
                padding-right: 0;
                position: relative;
                top: 105px;
                padding-left: 0;
            }
        }
    } 
    #error-count {
        width: 245px;
        margin-bottom: 30px;
    }
    
    #hotel-details {
        .main-content.content-up {
            #hotels {
                margin-top: -30px;
            }
        }
    }

    #hotel-details {
        #flexible-dates {
            padding: 20px 17px;
            top: 108px;
            .scrollmenu {
                width: 250px;
                a {
                    padding: 10px 7px;
                }
            }
        }

        #hotels {
            .hotels-card {
                &:not(:first-child) {
                    height: 355px;
                }
                &:first-child {
                    height: 555px;
                }
                .review-comments, .reviews {
                    width: 45px;
                    height: 45px;
                    font-size: 18px;
                    label {
                        margin: 3px auto;
                    }
                }
                a {
                    .hotel-image {
                        padding-right: 0;
                    }
                    .hotel-description {
                        font-size: 15px;
                    }
                }
                .actions-btns {
                    a, button {
                        width:100%;
                    }

                    button {
                        margin-right: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}


// Small devices (landscape phones, 577px and up)
@media (min-width: 577px) { 
    #trip-plan-form {
        .dropdown button, .dropdown .dropdown-menu, .date {
            width: 300px;
            min-width: 220px;
        }
        .email, #error-email{
            width: 470px;
        }
        .city-duration, #count, .country-selection {
            width: 560px;
            min-width: 220px;

            .drag-icons {
                height: 186px;
            }
            .child-age {
                margin: 10px 0 28px;
            }
        }

        .day {
            width: 60%;
            min-width: 220px;
        }
        input:not(.days, .email) {
            width: 80%;
        }
        #form-dates {
            .custom-checkbox {
                width: 540px;
            }
            .checkbox-container .checkmark {
                top: 16px;
            }
        }
        .dropdown-menu li {
            padding: 0 5px
        }
        
        #form-email {
            .btn-group-vertical {
                display: block;
                margin: 0 auto;
                width: 470px;
                min-width: 220px;

                .checkbox-container {
                    font-size: 25px;
                    
                    .checkmark {
                        top: 8px;
                    }
                }
                .radio-container {
                    font-size: 23px;
                    .checkmark {
                        top: 7px;
                    }
                }
            }
        }  


        #form-destination {
            .quick-search-wrapper {
                margin-top: 35px;
                margin-bottom: 45px;
            }
        }
        #form-duration {
            .country-selection{
                .duration-days {
                    input.total-days {
                        margin: 40px 0;
                        + label {
                            margin: 49px 0 0 10px;
                        }
                    }
                }
            }
            .city-duration{
                .duration-days {
                    input.total-days {
                        margin: 35px 0;
                    }
                }
            }

            .city-section {
                min-height: 200px;
                
                .drag-icons {
                    width: 50px;
                }
                .city-image {
                    width: 150px;
                    margin-left: 25px;

                    img {
                        width: 150px;
                        max-width: 150px;
                        height: 150px;
                    }
                }
                .duration-days {
                    //width: 260px;
                    width: 290px;
                }
            }
            .cities-not-selected {
                width: 560px;
            }
        }

        .selected-cities {
            margin:0 auto 30px;
        }
        .flex {
            .days-section {
                font-size: 25px;
            }
            .description {
                font-size: 19px;
            }
        }
        #form-cities {
            .city-description {
                float: left;
                width: 550px;
                text-align: left;
                font-size: 17px;
            }
        } 
    }

    .partner-logo {
        top:5px;
    }

    .plan-container {
        .booking-history{
            border-left: 1px solid $white;
        }
        .icon-text {
            max-width: 160px;
            word-wrap: break-word;
        }
    }

    #change-language {
        bottom: 70px;
    }
        
    header {
        .navbar-brand {
            width: 100%;
            .logo {
                height: auto;
                width: 160px;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .dropdown button, input, .input-group-text {
        font-size: 20px!important;
        height: 45px;
    }
    .btn-primary { 
        width:auto;
        padding: 15px 110px;
        font-size: 1.3rem;
    }

    #stop-search {
        .comment-of-stop {
            width: 500px;
        }
    }
    .checkbox-container {
        font-size: 2rem;
    }
    .radio-container {
        font-size: 22px;
    }
    .error-image{
        &.jumbotron{
            padding: 146px 10px 0;
            h1 {
                font-size: 45px;
                &.heading {
                    font-size:60px;
                }
            }
        }
    }
    #hotels {
        padding:50px 40px 1px;
    }
    #parents, #children {
        input {
          width: 250px;
        }
        p {
            text-align: left;
        }
    }
    #maxBudget{
        position: relative;
        left: 195px;
        font-size: 30px;
    }
    #minBudget{
        position: relative;
        right: 195px;
        font-size: 30px;
    }
    .slider-container {
        width: 470px;
    }
    section.range-slider {
        width: 200px;
        input {
            width:260px;
        }
    }
    #trip-manager {
        .tb-travel-box {
            .location-thumb {
                img {
                    width: 152px;
                }
            }
            .location-description {
                padding: 0 95px 0 170px;
            }      
        }
    }
    #error-count {
        width: 285px;
    }

    
    #hotel-details {
        .main-content.content-up {
            #hotels {
                margin-top: -15px;
            }
        }
    }

    #hotel-details {
        #flexible-dates {
            //top: 117px;
            .scrollmenu {
                a {
                    // padding: 10px 15px;
                    padding: 10px 0px;
                }
            }
        }
        #hotels {
           // margin-top: 105px;
      
            .review-comments, .reviews {
                width: 60px;
                height: 60px;
                font-size: 24px;
                label {
                    margin: 10px auto;
                }
            }
            .hotel-description {
                .hotel-name {
                    font-size: 20px;
                }
            }
        }
    }
}
// Medium devices (tablets, 768px and down)
@media (max-width: 767px) { 
    header {
        height: 100px;
    }
    #index {
        .jumbotron {
            margin-top:0;
        }
    }
    .main-content {
        vertical-align: middle;
    }

    .hotels-card a {      
        .hotel-description {
            text-align: left;
        }
        .price-details{
            float: none;
            margin: 0 auto;
            margin-top: 20px;
            .price-tag {
                text-align: left;
                margin: 5px 0 10px;
            }
            .date {
                text-align: left;
            }
            .partner-logo {
                float:left;
            }
        }
        
        .offer-label {
            float: left;
            text-align: center;
            
        }
        .review-comments {
            .all-reviews {
                text-align: center;
            }
        }
    }
    h1{
        font-size: 35px;
    }
    .redirect-image {
        img {
            width: 150px;
            margin: 40px auto 0;
        }
    }
    
    #hotel-details {
        .main-content.content-up {
            #flexible-dates {
                padding:20px;
                min-height: 140px;  
            }
        }
    }
    #form-cities {
        .cities {
            margin: 0;  
            .prevItem, .nextItem {
                display: none;
            }
            .carousel-image, .carousel-item {
                max-width: 180px;
                height: 165px;
            }
            .carousel-control-prev {
                left: -36px;
            }
            .carousel-control-next {
                right: -36px;
            }
            #cities {
                width: 190px;
            }
        }
    }
    #hotel-details {
        .hotels-card {
            padding: 30px 10px;

            &:first-child {
                height: 555px;
                min-height: 411px;
            }
            // &:first-child {
            //     height: 555px;
            //     min-height: 411px;
            // }
        }

        .hotel-image .main-image {
            width: 120px;
            height: 100px;
        }

        .hotel-description {
            position: relative;
            top: 122px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .price {
            top: -2px;
            font-size: 26px;
        }

        .actions-btns {
            margin-top: 75px;
            float: left;
            margin-left: 0px;

            div{
                padding-right: 0!important;
            }
        }

    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .hotels-card a {
        .hotel-description {
            text-align: left;
        }
        .price-details {
            float: right;
            .price-tag {
                text-align: right;
                margin: 5px 0 50px;
            }
            .date {
                text-align: right;
            }
            .partner-logo {
                float: right;
            }
        }      

        .review {
            text-align: right;
        }
        .all-reviews {
            text-align: right;
        }
    }
    h1 {
        font-size: 60px;
    }
    .main-content {
        vertical-align: middle;
    }
    .redirect-image {
        img {
            width: 300px;
            margin: 80px auto 0;
        }
    }
    .quick-search a{
        width:20%;
    }
    .rating {
        padding-right: 30px;
    }
    .actions-btns div{
        padding-right: 17px!important;
    }
    #form-cities .cities{
        .prevItem, .nextItem {
            display: inline-block;
        }
        #cities {
            width: 345px;
            width: 400px;
        }
    }
    #hotel-details {
        .hotels-card{
            .price {
                top: 19px;
                font-size: 40px;
            }
        }
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #form-cities .cities {
        .prevItem, .nextItem {
            width: 245px;
        }
        .carousel-image, .carousel-item {
            max-width: 150px;
            height: 106px;
        }
        .carousel-control-prev {
            left: -35px;
        }
        .carousel-control-next {
            right: -35px;
        }
    }
}

@media (min-width: 1600px) { 
    #hotel-details {
        .hotels-card{
            &:not(:first-child) {
                height: 275px;
            }
            .hotel-description {
                padding: 0 190px 0 390px;
            }
            .hotel-image .main-image {
                width: 345px;
                height: 210px;
            }
        }
    }
}

@media (max-width: 1599px) and (min-width:1200px) { 
    #hotel-details {
        .hotels-card {
            &:first-child {
                min-height: 411px;
            }
            &:not(:first-child) {
                min-height: 275px;
            }
        }
    }
}

@media (max-width: 1599px) and (min-width:768px) { 
    #hotel-details {
        .hotels-card {
            &:first-child {
                min-height: 411px;
            }
            // &:not(:first-child) {
            //     min-height: 355px;
            // }
            .hotel-description {
                position: relative;
                top: 160px;
                padding-right: 0;
                padding-left: 15px;
            }

            .actions-btns {
                margin-top: 90px;
            } 
            .hotel-image .main-image {
                width: 280px;
                height: 140px;
            }             
        }
    }
}

// Large devices (desktops, 991px and down)
@media (min-width: 768px) and (max-width:991px) { 
    #form-cities .cities {
        .prevItem, .nextItem {
            width: 159px;
        }
        .carousel-image, .carousel-item {
            max-width: 246px;
            height: 165px;
        }
        .carousel-control-prev {
            left: 0px;
        }
        .carousel-control-next {
            right: 0;
        }
    }

    #hotel-details {
        #flexible-dates {
            .scrollmenu {
                width: 605px;
            }
        }

        .hotels-card{
            .actions-btns {
                margin-top: 90px;
            }
        }
    }
}


@media (min-width: 1200px) { 
    #flexible-dates {
        width: 100%;
        left: 16.6%;
    }
}


@media (max-width: 1199px) { 
    #flexible-dates {
        left: 0;
        width: 100%;
    }

    #hotel-details {
        .hotels-card {
            &:not(:first-child) {
                height: 355px;
            }
        }
    }
}

@media (max-width: 1199px) and (min-width:768px){
    #hotel-details {
        .hotels-card {
            &:not(:first-child) {
                min-height: 275px;
            }
        }
    }
}


@media (min-width:1501px){
    .hotels-card {
        padding: 30px 110px;
    }
}
// Laptop range
@media (max-width: 1500px) and (min-width:1200px){
    #hotel-details {
        max-width: 90%;
        flex: 0 0 90%;
        .hotels-card {
            padding: 30px 50px;
            .hotel-description {
                top: 0;
                padding: 0 190px 0 310px;
                min-height: 175px;
            }

            .actions-btns {
                margin-top: 0;
            }
        }
    }
}

//high res devices
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) and (max-width: 1820px) {
    #hotel-details {
        max-width: 80%;
        flex: 0 0 80%;
        .hotels-card {
            padding: 30px 50px;
            .hotel-description {
                top: 0;
                padding: 0 190px 0 310px;
                min-height: 175px;
            }

            .actions-btns {
                margin-top: 0;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and down)
@media (max-width: 1199px) and (min-width:991px) { 
    #hotel-details {
        #flexible-dates {
            padding: 20px 17px;
            .scrollmenu {
                width: 890px;
            }
        }

    }
}

@media (min-width: 577px) and (max-width:767px) { 
    .quick-search a{
        width:30%;
    }
    #hotel-details {
        #flexible-dates {
            .scrollmenu {
                width: 415px;
            }
        }

        .hotels-card {
            &:not(:first-child) {
                height: 330px;
            }
            &:first-child {
                height: 520px;
            }
        }
    }
}

@-moz-document url-prefix() { 
    .dropdown button { 
        &::after{
            top: -15px!important;
        } 
    }
}


