.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-capitalize {
    text-transform: capitalize;
}

.word-break {
    word-break: break-word;
    white-space: pre-wrap;
}
.center-text {
    margin: 25px 0;
    color: #fff;
}
@font-face {
    font-family:'HelveticaNeue-Light';
    font-style:normal;
    font-weight:400;
    src:url(../assets/fonts/webfonts/HelveticaNeue-Light.eot);
    src:url(../assets/fonts/webfonts/HelveticaNeue-Light.woff2) format("woff2"),
        url(../assets/fonts/webfonts/HelveticaNeue-Light.woff) format("woff"),
        url(../assets/fonts/webfonts/HelveticaNeue-Light.ttf) format("truetype")
}


      