// colors
$transparent:rgba(0,0,0,0.0);
$white:#ffffff;
$black:#000000;
$light-gray:#efefef;
$light-gray1:#eeeeee;
$light-gray2:#dddddd;
$dark-gray:#272727;
$dark-gray2:#404040;
$btn-primary-color:#fbb400;
$btn-primary-hover-color:#d2ae3b;
$error-text:#ff5a5a;
$error-bg:#ee4137;
$offer-label-color:#ee595d;
$review-box-bg-color:#014782;
$theme-color:#0f2643;
$active-date-primary-color:#ff001f;
$active-date-secondary-color:#a41829;
$datepicker-text:#212529;
$low-opacity :rgba(0, 0, 0, 0.52);
$text-color:#495057;
$navigation-text-color:#fbb400;
$navigation-bg:#333333;
$tick-color:#07c2c9;

// fonts
$font-weight-normal: 400;
$font-weight-bold: bold;
$font-weight: bolder;


