#trip-plan {
    .main-content {
        padding:20px 0;
        // > div:not(#form-cities) {
        //     padding: 20px 10px 0;
        // }
    } 
}

#trip-plan-form { 
    > div:not(#form-cities){
        max-width: 850px;
        display: block;
        margin: 0px auto;
        padding-left:15px;
        padding-right:15px;
        // background-color: $low-opacity;
    }
    p{
        button {
            text-transform: capitalize;
        }
    }
    .dropdown {
        button {
            text-align: left;
            background-color: $white;
            text-transform: capitalize;
            @include css3-prefix('border-radius','0');
            &::after{
                float: right;
                position: relative;
                top: 14px;
            }
            &:focus {
                box-shadow:none;
            }
        }

        .dropdown-menu {
            padding: 10px;  
            @include css3-prefix('border-radius','0');
            li{
                &:hover {
                    background:$light-gray;
                    a {
                        text-decoration: none;
                    }
                }
                a {
                    display: block;
                    width: 100%;
                    text-transform: capitalize;
                }
                
                img {
                    margin-right: 10px;
                }
                span {
                    vertical-align: text-top;
                    margin-bottom: 0;
                    color:$black;
                }
            }
        }
    }
    .quick-search-wrapper {
        .quick-search {
            // .round-cards {
            //     width: 85px;
            //     height: 85px;
            //     border: 2px solid $btn-primary-color;
            //     @include css3-prefix('border-radius','50%');
            // }
            
            a {
                display: inline-block;
                margin: 0 5px;
                padding: 12px;
                &.selected {
                    background-color: rgba(0, 0, 0, 0.51);
                    padding: 10px 10px;
                    border-radius: 10px;
                    border: 2px solid rgba(238, 198, 67, 0.33);
                    .round-cards {
                        border: 2px solid rgba(173, 154, 91, 0);
                    }
                }
            }

            .city-name {
                color: $white;
                margin-top: 10px;
                text-transform: capitalize;
                margin-bottom:0;
            }
        }
    }
    .selected-cities {
        min-height: 75px;
        background-color: $white;
        width: 80%;
        padding: 10px;
        height: auto;
        button {
            background: $btn-primary-color;
            border: none;
            padding: 5px 11px;
            margin: 10px;
            cursor: pointer;
            border-radius: 3px;
            text-transform: capitalize;
            i{
                margin-left: 10px;
            }
        }
    }
    #country + h2 {
        margin-bottom: 0;
    }
    .prev-btn, .next-btn {
        position: relative;
        display: block;
        margin: 60px auto 0;
        max-width: 500px;
    }
    #form-destination {
        .city-icon {
            width: 130px;
            margin: 75px auto 25px;
            display: block;
        }

        .country-name {
            text-transform: capitalize;
        }
        .destinationsubText {
            color:$white;
            letter-spacing: 0;
        }

        .country-box {
            width: 200px;
            margin: 0 auto;
            font-size: 25px;
            background: $btn-primary-color;
            padding: 3px;
            color: $white;
        }

    }
    #form-dates {
        .city-duration, .country-selection {
            min-height: 117px;
            background-color: $white;
            margin: 20px auto 30px;
            padding: 50px 10px;
            display: block;
            margin: 0 auto;
            
            .city{
                text-align: left;
                margin-bottom: 8px;
                margin-top:0px;
                font-size: 20px;
                color:$text-color;
                text-transform: capitalize;
            }
            .day {
                margin-bottom: 20px;
            }
        }
        .date, .day {
            margin:0 auto;
        }
        .input-group-prepend {
            display: inline-block;
        }
        .input-group-addon {
            @include css3-prefix("display","flex");
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: .375rem .75rem;
            font-size: 25px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            background-color: $white;
            border: none;
            @include css3-prefix("border-radius","0px");
        }   


        .custom-checkbox {
            margin-bottom: 0;
            padding: 0 27px 0 0;
        }

        .flex {
            background-color: rgba(4, 4, 4, 0); 
            //background-image: linear-gradient(#2d2b2c, #040404);
            @include css3-prefix("background-image","linear-gradient(#2d2b2c, #040404)");
            @include css3-prefix("border-radius","7px");
            color: $white;
            padding: 20px 15px;
            margin: 10px;
            border: none;
            cursor: pointer;

            &:focus {
               // box-shadow: inset 0px 0px 0px 2px $btn-primary-color;
                outline: none;
            }
            &.active {
                color:red;
            }
        }
        .flex-active {
            background-color: $btn-primary-color;
            background-image: none;
        }
    }

    #form-cities {
        .selected-city-description {
            height: 450px;
            left: 0;
            z-index: 999;
            margin: 0 auto;
            padding: 0;

            .city-description {
                letter-spacing: 0;
            }
            .carousel-item {
                padding: 0;
                img {
                    max-height: 100%;
                    width: 100%;
                    background-size: cover;
                    height: 450px;
                }
            }
            
        }
        .city-heading {
            width: 100%;
            text-align: left;
            text-transform: capitalize;
            display: block;
            margin-bottom: 2px;
            font-weight: lighter;
            font-size: 3rem;
        }
        #saveDestination {
            margin: 10px auto 30px;
        }

        .cities {
            display: block;
            bottom: 0;
            width: 100%;
            padding: 50px 0;
            height: calc(100% - 435px);
            padding-top: 0;
            padding-bottom: 0; 
            margin:0;
            .carousel-inner {
                width: 300px;
                margin: 0 auto;
            }
            .carousel-item, .my-card {
                height: auto;
                width: 300px;
                padding: 0;
                cursor:pointer;
    
                input[type="checkbox"] {
                    position: absolute; 
                    bottom: 52px;
                    right: -39px;
                    width: 35px;
                }
                
            }

            .carousel-control-prev {
                z-index: 1;
                top: -10px;
            }

            .carousel-control-next {
                //right: -35px;
                z-index: 1;
                top: -10px;
            }

            .carousel-image {
                margin-top: 45px;
                width: 100%;
            }
            .slick-current {
                .city-name {
                    margin-top: 40px;
                }
                img {
                    opacity:1;
                }
            }
            .city-name {
                color: $white;
                margin-top: 10px;
                text-transform: capitalize;
                margin-bottom:0;
                font-size: 18px;
            }
            .province {
                color: #949494;
                font-size: 18px;
                letter-spacing: 0;
                text-transform: capitalize;
            }


            .nextItem, .prevItem {
                position: relative;
                bottom: 65px;
                
                img {
                    max-width: 150px;
                    width: 150px;
                    height: 106px;
                    opacity:0.5;
                }
                p {
                    font-size: 18px;
                }
                .city-name {
                    opacity: 0.5;
                }
            }
            #cities {
                display: inline-block;
                .city-name{
                    font-size: 20px;
                }
            }
            .next-btn {
                margin-top: 0;
            }
            .checkmark {
                position: absolute;
                bottom: 66px;
                right: 0;
            }

        }
    }

    #form-duration {
        .city-duration, .country-selection {
            margin: 20px auto 30px;
            padding: 10px 10px 0px;
            display: block;
            margin: 0 auto;
            .city{
                text-align: left;
                margin-bottom: 8px;
                margin-top:0px;
                font-size: 20px;
                color:$text-color;
            }
            .city-section {
                border:none;
                background-color: $low-opacity;
                height: auto;
                padding: 22px 10px;
                .drag-icons {
                    display: inline-block;
                    float: left;
                }
                .city-image {
                    display: inline-block;
                    float: left;
                    margin-right: 15px;
                    img {
                        display: inline-block;
                        float: left;
                   }
                }
                input.total-days + label {
                    color: $white;
                    font-size: 20px;
                    float: left;
                }
                input.days + label {
                    color: $white;
                    font-size: 20px;
                    float: left;
                    margin: 7px 0 0 10px;
                }
                .duration-days {
                    display: inline-block;
                    padding-top: 15px;
                    float: left;

                    .duration-subText{
                        line-height: 25px;
                        color: $white;
                        font-weight: 100;
                    }
                    .city-name{
                        line-height: 24px;
                        font-size: 20px;
                        color: $white;
                    }

                    input.days, input.total-days {
                        display: inline-block;
                        width: 70%;
                        float: left;
                    }
                    
                    .text-ellipsis {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-all;
                        width: 100%;
                        white-space: nowrap;
                    }
                }
            }
            .day {
                margin-bottom: 20px;
            }
        }
        .cities-not-selected {
            min-width: 220px;
            margin: 0 auto;

            // .country-selection {
            //     border: none;
            //     background-color: $low-opacity;
            //     height: auto;
            //     padding: 77px 10px;
            //     margin: 0 0 20px;
            //     input {
            //         display: inline-block;
            //         margin-right: 10px;
            //     }
            //     label {
            //         font-size: 20px;
            //         color:$white;
            //     }
            // }
        }
        
        .date, .day {
            margin:0 auto;
        }
        .input-group-prepend {
            display: inline-block;
        }
        .input-group-addon {
            @include css3-prefix("display","flex");
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            @include css3-prefix("border-radius","0px");
        }
    }
    #form-count {
        #count {
            //max-width: 600px;
            display: block;
            //margin: 0px auto;
            background-color: $low-opacity;
            padding: 30px 10px;

            min-width: 220px;
            margin: 0 auto;
            .icon {
                width: 200px;
                display: inline-block;
                label {
                    display: block;
                    font-size: 23px;
                    color: $white;
                    margin-bottom: 0;
                }
            }
            .usersCount {
                display: inline-block;
                label {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    color: $white;
                    font-size: 18px;
                }
                input {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                }
                i {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    color: $white;
                    font-size: 18px;
                }
            }
            #parents {
                margin-bottom: 30px;

                
                img {
                    width: 23px;
                    margin-left: 12px;
                }
                input {
                    margin: 0 auto;
                    display: inline-block;
                }
                p {
                    margin: 10px 0;
                    color: $white;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            #children {
                input{
                    margin: 0 auto;
                    display: inline-block;
                }
                .child-description {
                    img{
                        width: 35px;
                    }
                    label {
                        margin-bottom: 0;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
            .child-age {
                color:$white;
                width: 250px;
                line-height: 1.2;
                font-size: 14px;
                letter-spacing: 0;
                margin-bottom: 0;
                margin-left: 15px;
            }
        }
    }

    input, .date {
        @include css3-prefix('border-radius','0');
    }
    #flex-budget .input-group-text {
        @include css3-prefix('border-radius','0 3px 3px 0');
    }
    input {
        @include css3-prefix('border-radius','0');
        &:focus {
            box-shadow:none;
            border-color:#ced4da;
        }
        &[type="checkbox"] {
            width: 25px;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 21px;
        margin-top: 16px;
        cursor: pointer;
        color:$white;
        text-align: left;
        @include css3-prefix("user-select", "none");

        [type="checkbox"] {
            outline: none;
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked ~ .checkmark {
                background-color: $btn-primary-color;
                &:after {
                    display: block;
                }
            }
        }
        .checkmark {
            position: absolute;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: $light-gray1;
            &:after {
                left: 8px;
                top: 3px;
                width: 7px;
                height: 14px;
                border: solid $theme-color;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
        } 
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        
    } 

    .radio-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 21px;
        margin-top: 16px;
        cursor: pointer;
        color:$white;
        text-align: left;
        @include css3-prefix("user-select", "none");

        [type=radio] {
            outline: 0;
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            position: absolute;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: $light-gray1;
            border-radius: 50%;
            &:after {
                top: 7px;
                left: 7px;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: $white; 
            }
        }
        &:hover input ~ .checkmark {
            background-color: $light-gray1;
        }
        
        input {
            &:checked {
                ~ .checkmark {
                    background-color:$tick-color;

                    &:after {
                        display: block;
                    }
                }
            }
        }  
    }

    .dynamic-text {
        line-height: 1.5;
        font-weight: bold;
        a {
            background-color: $transparent;
            border-color: $transparent;
            color: $navigation-text-color;
            cursor: pointer;
            padding:0;
            
            &:hover{
                text-decoration: underline;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.form-heading {
    color:$white;
    margin-bottom: 30px;
}

a {
    color:$btn-primary-color;    
}

.middle-heading{
    color: $white;
    margin-bottom: 25px;
    margin-top: 25px;
}
.center-btn {
    margin: 50px auto;
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#slider2 {
    position: relative;
    left: -57px;
}
#form-budget {
    margin: 45px 0;

    .slider-container {
        margin: 90px 0 60px;
    }
    input {
        display: block;
        margin: 0 auto;
    }
    .slider-container {
        float: none;
        display: block;
        margin: 20px auto 40px;
    }

    #minBudget {
        margin-top: 20px;
        color: #fff;
        font-weight: bold;
    }
    #maxBudget {
        margin-top: 20px;
        color: #fff;
        font-weight: bold;
    }
    #minBudget1, #maxBudget1 {
        font-weight: bold;
    }
}

// section.range-slider {
//     position: relative;
//     height: 35px;
//     text-align: center;
//     display: block;
//     margin: 0 auto;
// }

// section.range-slider input {
//     pointer-events: none;
//     position: absolute;
//     overflow: hidden;
//     left: 0;
//     top: 15px;
//     outline: none;
//     height: 18px;
//     margin: 0;
//     padding: 0;
// }

// section.range-slider input::-webkit-slider-thumb {
//     pointer-events: all;
//     position: relative;
//     z-index: 1;
//     outline: 0;
// }

// section.range-slider input::-moz-range-thumb {
//     pointer-events: all;
//     position: relative;
//     z-index: 10;
//     -moz-appearance: none;
//     width: 9px;
// }

// section.range-slider input::-moz-range-track {
//     position: relative;
//     z-index: -1;
//     background-color: rgba(0, 0, 0, 1);
//     border: 0;
// }

// section.range-slider input:last-of-type::-moz-range-track {
//     -moz-appearance: none;
//     background: none transparent;
//     border: 0;
// }

// section.range-slider input[type=range]::-moz-focus-outer {
//     border: 0;
// }


/*#slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -5px; 
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}*/

#form-email {
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 3px;
        left: 80px;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        top: 3px;
        width: 8px;
        height: 16px;
        left: 9px;
        
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #cookie {
        color: #fff;
        background: rgba(0, 0, 0, 0.85);
        padding: 35px 26px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        p {
            font-size: 20px;
            margin: 30px 0;
        }
    }
}

.dark-bg {
    position: fixed;
    background: rgba(0, 0, 0, 0.52);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.form-control{
    background-color:$white;
    border:none;
}
