// .jumbotron#hotel-details {
//     width: 70%;
//     margin: 0 auto;
// }
.hotels-card {
    border: none;
    padding: 10px;
    margin-bottom: 0;
    :first-child {
        border-bottom: 0;
    }
    .col-12 {
        padding:0;
    }
    // a {
        // &:hover {
        //     color:#3B3738;
        // }
        // text-decoration: none;
        // color:#3B3738;

    .hotel-image {
        position: absolute;
        left: 15px;
        .main-image {
            float: left;
            margin-bottom:20px; 
        }
    }

    .hotel-description {
        color:$black;
        width: 100%;
        min-height: 210px;
        .hotel-name {
            display: block; 
            margin-bottom: 5px;
            color: #fff;
            letter-spacing: 1px;
        }
        .star-ratings {
            margin-right: 10px;
            width:80px;
        }
        .hotel-address {
            display: block;
        }
    }
    .rating{
        width: 160px;
        position: absolute;
        right: 17px;
        top: 0;
        text-align: center;
        line-height: 21px;

        .reviews {
            background-color:$review-box-bg-color;
            padding: 10px;
            display: block;
            color: $white;
            margin: 0 0 0 10px;
            @include css3-prefix("border-radius","10px 10px 10px 0px");
            float: right;
        }  
        
        .review-comments {
            vertical-align: top;
            color: $black;
            float: right;
            .review {
                display:block;
            }
            .all-reviews {
                display: block;
            }
            label{
                margin:10px auto;
            }
        }
        .price-details{
            padding-top: 45px;
            // padding-top: 50px;
            color:$black;
            .price-tag {
                float:right; 
                width: 100%;
                display: block;
            
                label {
                    text-align: right;
                }
                b {
                    text-align: right; 
                    font-size:30px; 
                    color:$error-text;
                }
            }
            .date {
                width: 100%;
                font-size:19px; 
                color:$dark-gray2; 
                display:block;
                float: right;
            }
            .partner-logo {
                display:block; 
                margin: 5px 0;
                width: 110px; 
                min-height: 17px; 
                height: 30px;
                background-color: $btn-primary-color; 
                padding: 7px 10px;
            }
            .offer-label {
                margin-bottom: 10px;
                font-size: 14px;
                background-color:$offer-label-color; 
                color: $white;
                padding: 6px;
                @include css3-prefix("border-radius", "4px");
                text-align: right;
            }
            .rates-text {
                display: block;
                text-align:right;
                margin-bottom: 20px;
            }
            .old-price {
                display:block;
                text-decoration-line:line-through; 
                font-size:18px; 
                text-align: right;
            }
            .new-price {
                display:block;
                font-size:20px; 
                color:$offer-label-color;  
                text-align: right;
            }
        }
    }
    .actions-btns {
        width: 100%;
        padding: 20px 0 0;
        border-top: 1px solid #666666;
    }

}
// }
.other-properties {
    display: block;
    width:100%;
    padding:15px 10px; 
    background-color:$btn-primary-color; 
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;  
}


#flexible-dates {
    //position: fixed;
    z-index: 2;
    margin: 40px auto 0;
    display: block;
    background-color: #484848;
    padding: 20px 70px;
    h2 {
        color:$white;
    }
    #dates{
        &.scrollmenu {
            overflow: auto;
            white-space: nowrap;
            margin: 0 auto 20px;
            a {
                position: relative;
                bottom: 1px;
                display: inline-block;
                color: $white;
                text-align: center;
                text-decoration: none;
                color:#fff!important;
                height: 110px;
                padding-top: 20px;
                padding-right: 0;
                border-right: 0;
                border-top: 1px solid #848484;
                border-bottom: 1px solid #848484;
                cursor: pointer;

                &:first-child {
                    border-left: 1px solid #848484;
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-right: 1px solid #848484;
                    border-radius: 0 5px 5px 0;                  
                    .inner-border {
                        border-right: 0;
                    }
                }

                &:hover {
                    background-color: #777;
                }
                &.departure-date {
                    height: 110px;
                    padding-top: 20px;
                    .inner-border {
                        border-right: 0;
                    }
                    p, label {
                        color:#07C2C9;
                        font-weight: bold;
                    }
                    
                }
                &.checking {
                    position: relative;
                    bottom: 0px;
                    border-radius: 10px;
                    height: 130px;
                    background-color: #07C2C9;
                    .inner-border{
                        padding-top: 10px;
                        p, label {
                            font-weight: bold;
                            color: #2D2C2C;  
                        }
                    }  
                }
                // .inner-border {
                //     border-right: 0;
                // }
                
                &:not(:first-child) .inner-border {
                    border-left: 1px solid #848484;
                }
               
                &.checking {
                    .inner-border {
                        border-left:0;
                    }
                    + a {
                        .inner-border {
                            border-left:0;
                        }
                    }
                    
                }
                .inner-border {
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }    
        }
    }
    .total { 
        color: $btn-primary-color; 
        font-weight: bold;
        letter-spacing: 1px;
    }
}
#hotels {
    position: relative;
    z-index: 1;
    height: auto;
    background-color: rgba(0, 0, 0, 0.82);
    .city-card {
        margin-bottom: 50px;
    }
    .mainText {
        color: $white;
        margin-bottom: 50px;
    }
}

.hotels-card {
    padding: 30px 110px;
    &:first-child {
        background-color: rgba(148, 148, 148, 0.42);
        .btn-primary {
            width: auto;
            padding: 5px;
            font-size: 18px;
            float: right;
        }
        .btn-link {
            width: auto;
            padding: 5px;
            font-size: 18px;
            float: right;
            border: 1px solid #fff;
            color: #fff;
            margin-right: 10px;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    a .reviews {
        background-color: #488bf8;
        padding: 10px;
        display: block;
        color: #fff;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px 5px 5px 0;
        text-align: center;
        height: 60px;
    }

    h2 {
        width: 100%;
        text-align: left;
    }
}

.city-card {
    .hotels-card {
        &:not(:first-child){
            background-color: rgba(78, 78, 78, 0.38);
            border-bottom: 1px solid #505050;
        }
        &:nth-child(2){
            border-top: 1px solid #8e8e8e;
        }
    }
}

p.normal-text {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}



.collapse .hotels-card {
    background-color: #5f5e5e; 
    padding: 40px;
}
.card-body {
    padding: 0;
}
button.btn-link {
    width: 100%;
    text-decoration: none;
}


.city {
    color:#00fdff;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.review-comments{
    float: right;
    padding: 10px;
    display: block;
    color: #fff;
    background: #FA4100;
    text-align: center;
}

.partner-logo {
    //bottom: 4px;
    position: relative;
    right: 0;
}
.price {
    text-align: right;
    float: right;
    color: #FA4100;
    line-height: 2;
    position: relative;
    font-weight: bold;
}
.nights {
    color:#fff;
    font-size:18px;
    margin-top: 20px;
    margin-bottom: 27px;
}
.normal-text {
    color:#fff;
}
.hotel-address {
    color:#ddd;
}


// .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%;
//   }
  
//   .sticky + #hotels {
//     padding-top: 60px;
//   }

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    margin-top: 25px;
}

.top-container {
    margin-top: 25px;
}