body{
    background-color: $theme-color;
    overflow: visible;
    main {
        position: relative;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        transition:all 0.5s;
    }
}
#index{
    overflow: hidden;
}
.jumbotron {
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    padding: 115px 0 0;
    background-color:$transparent;
    &.hero-image{
        @include css3-prefix('border-radius','0');
        .bg-overlay {          
            .plan-container {
                margin-top: 65px;

                .booking-history {
                    padding: 2px 50px 10px;
                }   
                .new-trip{
                    padding: 2px 50px 10px;
                } 
                .icons{
                    width: 90px;
                    margin: 0 auto;
                    display: block;
                }
                .icon-text {
                    font-size: 22px;
                    color: #fff;
                    letter-spacing: 1px;
                }
                
            }   
        }
    }
    .main-content {
        background-color: transparent;
        display: table-cell;
        margin: 0;
        padding: 20px 10px 0;
        text-align: center;
        @include css3-prefix('border-radius','0');
    } 
  
    .hero-image-btn:hover {
        text-decoration: none;
    }
    h1{
        margin: 0 0 40px 0;
        font-weight: bold;
        line-height: 56px;
        color: $white;
        text-align: center;
        word-break: break-word;
    }
    .greeting, .sub-greeting {
        color:$white;
    }
    
}
.greeting {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
.sub-greeting {
    animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
    text-align: center;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


//   .zoomIn {
//     -webkit-transition: all .5s;
//     -moz-transition: all .5s;
//     -o-transition: all .5s;
//     transition: all .5s;
//   }
//   .zoomIn:hover{
//     -ms-transform: scale(1.2);
//     -moz-transform: scale(1.2);
//     -webkit-transform: scale(1.2);
//     -o-transform: scale(1.2);
//     transform: scale(1.2);
//   }
