#stop-search {
    .radio-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        color:$white;
        text-align: left;
        @include css3-prefix("user-select", "none");

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked ~ .checkmark {
                background-color: $btn-primary-color;
                &:after {
                    display: block;
                }
            }

        }

        .checkmark {
            position: absolute;
            top: 5px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: $light-gray1;
            @include css3-prefix("border-radius", "50%");

            &:after {
                top: 6px;
                left: 6px;
                width: 10px;
                height: 10px;
                background: $theme-color;
                @include css3-prefix("border-radius", "50%");
            }
        }
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .comment-of-stop {
        display: block;
        margin: 0 auto;
    }
}