#trip-manager {
    .trips  {
        color:$white;
        text-align: left;

        &:hover {
            text-decoration: none;
        }
    }
    .main-container {
        padding: 25px;
    }
    .bottom-container {
        margin-top: 70px;
    
        h1 {
            margin-bottom: 40px;
        }
    }

    .no-results-messgae {
        background: #efd5d5;
        padding: 20px;
        border: 1px solid #844747;
        display: none;
    }
    
    .tb-travel-box {
        background: rgba(0, 0, 0, 0.6);
        border-radius: 4px;
        padding: 25px;
        margin: 15px 0;
        position: relative;

        .remove-item {
            position: absolute;
            width: 20px;
            height: 20px;
            background: rgb(155, 10, 10);
            top: 0;
            right: 0; 
            text-align: center;
            cursor: pointer; 

            span {
                position: relative;
                top: -3px;
            }
        }
    
        h2 {
            line-height: 25px;
            margin-bottom: 20px;
        }
    }
    
    .location-container {
        position: relative;
    
        .location-thumb {
            width: 150px;
            position: absolute;
            left: 0;
            
            img {
                height: 100px;
                //object-fit: cover;
            }
        }
    
        .location-description {
            width: 100%;
            min-height: 100px;
    
            .hotel-price {
                font-size: 20px;
                font-weight: 500;
    
                span {
                    font-size: 18px;
                }
            }
    
            .hotel-starts {
                color: #fb4100;
            }
        }
    
        .calender {
            width: 100px;
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
            line-height: 21px;
    
            .calnder-week {
                .calendar-days {
                    position: relative;
                    bottom: 54px;
                }
                span:first-child {
                    font-size: 27px;
                    font-weight: bold;
                }
                
    
                span {
                    display: block;
                    font-size: 11px;
                    font-weight: normal;
                }
            }
        }
    }
    #filters {
        text-align: center;
        margin-bottom:40px;
    }
    
    #filters a {
        font: bold 1.2em Arial, sans-serif;
        display: inline-block;
        height: 2em;
        line-height: 2;
        text-align: center;
        padding: 0 1em;
        margin-left: 1em;
        border: 2px solid #ccc;
        color: #000;
        text-decoration: none;
    }
    
    #filters a.selected {
        color: #08c;
        border-color: #08c;
    }
    a{
        color:#fff;
        &:hover {
            text-decoration: none;
        }
    }
}