.error-image {
    background: url(../assets/images/home/error.jpg) top center; 
    background-size: cover;
    position: relative;
    border-radius: 0;
    &.jumbotron {
        background-position: unset;
        background-color: transparent;
        margin: 0;
        text-align: center;
        -khtml-border-radius: 0;
        border-radius: 0;
        .row {
            > div {
                max-width: 1000px;
                display: block;
                margin: 0 auto;
                padding: 45px 10px;
                a{
                    &:hover{
                        color: $btn-primary-color;
                    }
                }
            }
        }
    }
    .main-content {
        vertical-align: top;
    }
}
.error-msg {
    color: $white;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    display: block;
    background: $error-bg;
    padding: 5px;
    letter-spacing: 0;
}


#error-dates {
    width: 100%;
}
#error-cities {
    min-width: 268px;
    max-width: 500px;
    margin: 0 auto;
}
#error-count {
    margin: 10px 20px 0;
}
#error-email {
    margin: 10px auto 0;
}
