.tb-hidden{
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 70px;
    height: 120px;
    padding: 5px 0;
    background-color: $transparent;
    @include css3-prefix("transition","all 0.10s");

    .navbar  {
        padding: 0;
    }
    &.header-wrapper {
        background-color:$navigation-bg;
        min-height: 70px;
        height: 120px;
        padding: 5px 0;
        #change-language {
            button{
                color:$white!important;
            }

        }
    }
    .container {
        padding: 0;
        max-width: 100%;
        position: fixed;
        .navbar-brand {
            width: 100%;
            border-bottom: 1px solid $white;
            margin: 0 20px;
            padding: 20px 0;

        }
        .logo {
            padding: 0;
        }
        #change-language {
            position: relative;
            float: right;
            margin-right: 30px;
            a {
                width:100%;
                display: inline-block;
            }
            
            button.dropdown-toggle {
                background-color: $transparent;
                color: $white;
                
                &:focus {
                    box-shadow: none;
                }
            }
            
            .dropdown-menu {
                padding: 10px;  
                left: -67px;  
                li{
                    padding: 0 5px;
                    &:hover {
                        background:$light-gray;
                        a{
                            text-decoration: none;
                        }
                    }
                    img {
                        margin-right: 10px;
                    }
                    span {
                        vertical-align: text-top;
                        margin-bottom: 0;
                        color:$black;
                    }
                }
            }
        }
    }  
}


