.redirect-image {
    img {
        background-position: center;
        background-size: cover;
        position: relative;
        @include css3-prefix('border-radius','0');
        display: block;
    }
    .bg-overlay {
        display: block;
        h2 {
            color:$white;
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
}
