.btn-primary {
    font-weight: $font-weight-normal;
    display: inline-block;
    color: $white;
    @include css3-prefix('transition','all 0.5s');
    background-color: $btn-primary-color;
    border-color: $btn-primary-color;
    letter-spacing: 2px;
    
    &:hover, &:focus, &:active {
        background-color:$btn-primary-hover-color!important;
        border-color:$btn-primary-hover-color!important;
        box-shadow:none!important;
    }
    &:disabled {
        background-color: $btn-primary-color;
        border-color: $btn-primary-color;
    }
}
.inline-button {
    display: inline-block;
}
a {
    cursor: pointer;
}
.accept-btn {
    color: $white;
    @include css3-prefix('transition','all .5s');
    background-color: $navigation-text-color;
    border-color: $navigation-text-color;
}

#cookie .btn-default {
    margin-right: 10px;
}



