.carousel-item, .my-card{
    padding: 0 80px;
   
    // &.active {
    //     display: inline-block;
    // }
}
#form-cities {
    .carousel-caption{
        position: absolute;
        top: 300px;
        z-index: 999;
        bottom:0;
        height: 250px;
        left: 150px
    }
}


.slider {
    display: block; 
    margin: 0 auto;
    width: auto;
    max-width:850px; 
}

.slick-slide {
    font-size: 30px;
    color: #3498db;
    font-size: 36px;
    margin: 10px;
    // background: #fff;
    // line-height: 100px;
    // padding: 2%;
    position: relative;
    text-align: center;
}
.slick-slide:not(.slick-current) .clickable-city-thumb{
    opacity:0.4;
}

.slick-prev:before, 
.slick-next:before {
    color: black;    
}

.slick-dots {
    bottom: -30px;
}

// .slick-slide:nth-child(odd) {
//      background: #e84a69;
// }

// .slick-current .city-name{
//     margin-top: 40px;
// }
.slick-center .clickable-city-thumb{
    @include css3-prefix("transform","scale(1.50)");
}

.center .slick-center {
    // @include css3-prefix("transform","scale(1.50)");
    opacity: 1;
    
}
.center  {
    opacity: 0.8;
    transition: all 300ms ease;
}

// .draggable, .droppable {
//     border: 1px dashed #000;
//     width: 50px;
//     height: 50px;
//     background-color: #fff;
//     display: inline-block;
//     box-sizing: border-box;
//     vertical-align: top;
//   }
  
//   .droppable {
//     border-color: #31b03d;
//     padding: 5px 2px;
//   }
  
//   .draggable.clone {
//     background-color: #abe2a5;
//   }
  
//   .droppable.big {
//     height: 60px;
//     width: 100px;
//   }
  
//   .droppable.big .droppable {
//     float: right;
//   }
  
//   .droppable.active {
//     background-color: #abe2a5;
//   }
  
//   .droppable.drop-here {
//     background-color: #3498db;
//   }
  
//   .droppable .draggable {
//     width: 16px;
//     height: 16px;
//     margin: 0 3px;
//     font-size: 10px;
//     padding: 2px;
//   }
//   ul.list, ul.grid {
//     list-style-type: none;
//     padding: 0;
//     width: 162px;
//   }
  
//   ul.grid.wide {
//     width: 100%;
//     height: 50px;
//   }
  
//   ul.grid.active {
//     background-color: #abe2a5;
//   }
  
//   ul.list li, ul.grid li {
//     border: 1px solid #DCDBDD;
//     margin: 2px;
//     padding: 2px 5px;
//     background-color: #F6F5F7;
//     box-sizing: border-box;
//     vertical-align: top;
//   }
  
//   ul.list li {
//     height: 28px;
//   }
  
//   ul.grid li {
//     float: left;
//     height: 50px;
//     width: 50px;
//   }
  
//   ul.list li.placeholder, ul.grid li.placeholder {
//     border-style: dashed;
//     background-color: transparent;
//   }
//   body { background-color: #fafafa; font-family: 'Open Sans'; }
//   .container { margin: 150px auto; }


.clickable-city-thumb{
    position: relative;
}

/* Hide the browser's default checkbox */
.clickable-city-thumb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-map {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #13bbc7;
}

/* On mouse-over, add a grey background color */
.clickable-city-thumb:hover input ~ .checkmark-map {
    background-color: #09C2D0;
}

/* When the checkbox is checked, add a blue background */
.clickable-city-thumb input:checked ~ .checkmark-map {
    background-color: #09C2D0;
}

/* Create the checkmark-map/indicator (hidden when not checked) */
.checkmark-map:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark-map when checked */
.clickable-city-thumb input:checked ~ .checkmark-map:after {
    display: block;
}

/* Style the checkmark-map/indicator */
.clickable-city-thumb .checkmark-map:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}