.custom-checkbox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2rem;
    color:$white;
    margin: 0 auto;
    text-align: left;
    word-break: break-word;
    @include css3-prefix('user-select','none');

    &:hover input ~ .checkmark{
        background-color: #ccc;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkmark {
            background-color: $tick-color;

            &:after {
                display: block;
            }
        }     
    }
    .checkmark {
        position: absolute;
        top: 15px;
        right: 0;
        height: 25px;
        width: 25px;
        background-color: $light-gray1;

        &::after {
            left: 9px;
            top: 4px;
            width: 7px;
            height: 15px;
            border: solid $white;
            border-width: 0 3px 3px 0;
            @include css3-prefix('transform','rotate(45deg)');
        }
    }
}
#cities {
    .checkmark{
        &:after {
            left: 16px;
            top: 4px;
            width: 10px;
            height: 21px;
            border: solid $black;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    input {
        &:checked  ~ .checkmark{
            background-color: $tick-color;
            &:after {
                display: block;
            }
        }
    }  
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        bottom: 40px;
        right: 0;
        height: 35px;
        width: 40px;
        background-color: #eee;
    }   
}

