.datepicker {
    .table-condensed {
        width:100%;
        thead {
            tr {
                &:nth-child(2) {
                    height: 37px;
                    border-bottom: 1px solid $light-gray2;
                    
                }
                th {
                    &.dow {
                        background-color: $white;
                        border-bottom: 1px solid $light-gray2;
                        @include css3-prefix('border-radius','0');
                        width: 42px;
                        height: 35px;

                        &:first-child {
                            border-left: 1px solid $light-gray2;
                        }

                        &:last-child {
                            border-right: 1px solid $light-gray2;
                        }
                    }
                } 
            }
        }
        tbody {
            td {
                width: 35px;
                padding: 4px;
                border: 1px solid $light-gray2;

                &.today.disabled {
                    background-color:$light-gray2!important;
                    background-image:none;
                    @include css3-prefix('border-radius','0');

                    &:hover {
                        background-color:$btn-primary-color!important;
                        background-image: none!important;
                        color:$datepicker-text!important;
                    }
                }

                &.active {
                    background-image:none;
                    background-color:$btn-primary-color!important;
                    color:$datepicker-text;
                    @include css3-prefix('border-radius','0');

                    &:hover {
                        background-color:$btn-primary-color!important;
                        background-image: none!important;
                        color:$datepicker-text!important;
                    }
                }

                span{
                    @include css3-prefix('border-radius','0');
                    border-top: 1px solid $light-gray2;
                    border-left: 1px solid $light-gray2;
                    margin:0;
                    width: 25%;

                    &.focused {
                        background-color:$btn-primary-color!important;
                        background-image: none!important;
                        color:$datepicker-text!important;
                    }
                    &.active.active {
                        background-color:$light-gray2!important;
                        background-image: none!important;
                        color:$datepicker-text!important;
                    }
                }

                &[colspan="7"]{
                    padding: 0;
                }
            }
        }
    }
}