// sortable cities
.city-duration{
    &.list {
        list-style-type: none;
        padding: 0;
        width: 162px;

        .city-section {
            margin: 0 0 20px;
            border: 1px dashed rgb(221, 221, 221);
            padding: 10px;
            cursor: pointer;
            &.placeholder {
                border-style: dashed;
                background-color: transparent;
            }
            .days {
                display: block;
                width: 100%;
            }
        }
    } 

    &.grid {
        list-style-type: none;
        padding: 0;
        width: 162px;

        .city-section {
            margin: 2px;
            padding: 2px 5px;
            background-color: #F6F5F7;
            box-sizing: border-box;
            vertical-align: top;
            float: left;
            height: 50px;
            width: 50px;
            margin-bottom: 20px;
        }

        &.wide {
            width: 100%;
            height: 50px;
        }

        &.active {
            background-color: #abe2a5;
        }
    }
}
