#loading {
    .modal-content{
        background-color: $transparent;
        border: none;
        .modal-body {
            padding: 0;
        }
    }
}
.modal-backdrop.show {
    opacity: 0.9;
}

