#form-budget {
    .slider-container {
        #slider-custom {
            height: 5px;
            border-radius: 0;
            &.noUi-target {
                background: #959595;
                border: 1px solid #959595;
                box-shadow: none;
            }
        }
        .noUi-connects {
            height: 3px;
            .noUi-connect {
                background: #fb4100;
            }
        }
        .noUi-handle-lower, .noUi-handle-upper {
            border-radius: 50%;
            height: 25px;
            width: 25px;
            top: -10px;
            &:focus {
                outline: 0;
            }
            &:before, &:after {
                display: none;
            }
        }
    }
}