﻿@model TravelBotWeb.Services.Models.EmailBodyContentModel
<!DOCTYPE html>
<html>
<body>
    <div style="width:800px;margin: 0 auto" class="main-cont">
        <!-- Header -->
        <table style="margin: 25px 0;font-family: Helvetica,Arial,sans-serif">
            <tr>
                <td><img src="@Model.Icon" height="70"></td>
            </tr>
            <tr>
                <td style="color: #6d6e71;padding-top:15px">Hi, this is regarding your trip to @Model.Country, We found these properties regarding your Trip plan.</td>
            </tr>
        </table>
        <!-- Header End -->
        <!-- City -->

            @for (var i = 0; i < Model.HotelCities.Count; i++)
            {
                <table style="width: 100%; background: #07c2c9; border-radius: 5px; padding: 20px;margin-bottom: 15px;font-family: Helvetica,Arial,sans-serif">
                    <tbody>
                        <tr>
                            <td class="main-img" style="width: 235px;padding-right: 10px"><img src="@Model.HotelCities[i].ImgUrl" style="width:220px"></td>
                            <td style="vertical-align: top;color: #fff">
                                <img src="@Model.HotelCities[i].WeatherIcon" width="50" style="display: block">
                                <span style="font-size:24px">@(Model.HotelCities.Count > 1 ? "Stop "+(i+1) : "")</span> @Model.HotelCities[i].CheckingDate.ToString("MMM dd") - @Model.HotelCities[i].CheckoutDate.ToString("MMM dd")<br>
                                <div class="city" style="font-size: 50px">@Model.HotelCities[i].CityName</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- City End -->
                <!-- Content -->
                <table style="background: #404040;width: 100%; margin-bottom: 15px;border-radius: 5px;color: #fff; padding: 20px;font-family: Helvetica,Arial,sans-serif">
                    <tr>
                        <td colspan="8" style="border-bottom:1px solid; padding: 10px 0 20px;font-size: 19px;">We found these properties matching your budget.</td>
                    </tr>
                    @foreach (var hotel in Model.HotelCities[i].HotelList)
                    {
                        <tr style="display: inline-block;width:100%">
                            <td style="padding: 20px 10px 20px 0;" width="174" valign="top"><img src="@hotel.HotelImage" width="170" height="112" style="object-fit:cover"></td>
                            <td style="padding: 20px 15px 20px 0" width="450" valign="top">
                                <div style="font-weight:bold"><a href="@hotel.BookingUrl" style="color:#fff;text-decoration:none">@hotel.HotelName</a></div>
                                <div style="font-size: 11px; margin-top:10px">
                                    @hotel.HotelLocation
                                </div>
                                <div style="margin:10px 0"><img src="@hotel.HotelRatingImgUrl" height="14"></div>
                                <span style="color:#fb4100;font-size: 18px; font-weight: bold">$ @hotel.HotelPrice</span> <span style="font-size: 11px;margin-left:10px;">@Model.HotelCities[i].NoOfStays night stay</span>
                            </td>
                            <td class="inblock" style="padding: 80px 0px 20px 0px; @(hotel.TravelbotReview.Score < 0 ? "visibility: hidden;" : "")" width="70" valign="top">
                                <div style="background: #fb4100;padding: 15px 5px;text-align: center;border-radius: 3px; width: 50px;font-weight: bold;position: relative;bottom: 4px;">@hotel.TravelbotReview.Score</div>
                            </td>
                            <td class="inblock" style="padding: 80px 25px 20px 15px; @(hotel.Review.Score < 0 ? "visibility: hidden;" : "")" width="50" valign="top">
                                <div style="background: #014780;padding: 11px 5px 9px;text-align: center;border-radius: 8px 8px 8px 0;width: 35px;font-weight: bold;">@hotel.Review.Score</div>
                                <img src="@hotel.Review.IconUrl" style="width: 55px;margin-top: 3px;">
                            </td>


                        </tr>

                        <tr>
                            <td colspan="8" style="border-bottom:1px solid;"></td>
                        </tr>

                    }

                </table>
            }
        <!-- Content End -->
        <!-- Footer -->
        <table style="font-family: Helvetica,Arial,sans-serif;width:100%">
            <tr>
                <td style="font-size: 14px;color: #404040;padding: 30px 0 15px;">To check availability and prices of the hotels with flexible date range please <a href="@Model.ViewInWebUrl">visit the web.</a></td>
            </tr>
            <tr>
                <td><a href="@Model.StopSearchUrl"><button style="font-size:16px;border-radius:4px;background:#fbb400;padding: 9px 70px;border:0;color: #fff">Stop Search</button></a></td>
            </tr>
            <tr>
                <td style="text-align: right;color:#666666;font-size:14px;padding-bottom:10px">Best Regards</td>
            </tr>
            <tr>
                <td style="text-align: right"><img src="@Model.Icon" height="40"></td>
            </tr>
        </table>
        <!-- Footer End -->
    </div>
</body>
<style>
    .main-img {
        width: 150px !important;
    }

        .main-img img {
            width: 150px !important;
        }

    .city {
        font-size: 30px !important;
        font-weight: bold;
    }
</style>
</html>
