﻿<main>
    <section class="jumbotron hero-image" 
             style="background-image: url('@ViewBag.Domain/assets/images/home/hero-image.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"
             id="index" ng-controller="indexCtrl">
        <div class="main-content bg-overlay tb-hidden">
            <h1 class="greeting">@Resources.Strings.GreetingMessage</h1>
            <h2 class="sub-greeting">@Resources.Strings.GreetingMessageTagline</h2>
            <div class="row justify-content-sm-center plan-container">
                <div class="col-sm-auto new-trip">
                    <a href="@Url.Action("plan", "Journey", new { lang = ViewBag.Lang })" class="hero-image-btn" ng-click="planDestination()">
                        <img src="@ViewBag.Domain/assets/images/home/bag.svg" class="icons" />
                        <p class="icon-text" ng-style="noWordWrap">@Resources.Strings.StartPlan</p>
                    </a>
                </div>
                <div class="col-sm-auto booking-history" ng-show="oldUser">
                    <a target="_blank" href="@ViewBag.APP_Domain/Journey/tripmanager" class="hero-image-btn">
                        <img src="@ViewBag.Domain/assets/images/home/calendar.svg" class="icons" />
                        <p class="icon-text">@Resources.Strings.HotelsList</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
@section index{
    <script src="@ViewBag.Domain/js/index-min.js"></script>
    <script>
        var upcomingTripUrl = "@ViewBag.Domain/Journey/tripmanager";        
        var datesBG = "@ViewBag.Domain/assets/images/home/date-bg.png";
    </script>
}




