﻿<!DOCTYPE html>
@{
    var languageText = "";
}
@switch ((String)ViewBag.Lang)
{
    case "en":
        languageText = "English";
        break;
    case "de":
        languageText = "Deutsche";
        break;
    default:
        languageText = "English";
        break;
}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="@ViewBag.Domain/css/vendor-bundle-min.css" type="text/css">
    <link rel="stylesheet" href="@ViewBag.Domain/css/app-bundle-min.css" type="text/css">

    <title>@ViewBag.Title</title>
</head>
<body ng-app="travelbotApp" ng-controller="appCtrl">
    <header ng-controller="headerCtrl">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { lang = ViewBag.Lang })"><img src="@ViewBag.Domain/assets/images/logo.png" alt="logo" class="logo"></a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <!-- navigation menu -->
                    </ul>
                </div>
            </nav>
            <div class="dropdown" id="change-language" style="visibility: hidden;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="@ViewBag.Lang">
                    <span class="caret">@languageText</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="@Url.Action(null, null, new { lang = "en" })" data-value="en"><span>English</span></a></li>
                    <li><a href="@Url.Action(null, null, new { lang = "de" })" data-value="de"><span>Deutsche</span></a></li>
                </ul>
            </div>
        </div>
    </header>
    <h1>admin</h1>
    @RenderBody()

    @*don't change the order*@
    <script src="@ViewBag.Domain/js/vendor-bundle-min.js"></script>
    @RenderSection("index", required: false)
    @RenderSection("plan", required: false)
    @RenderSection("stopSearch", required: false)
    @RenderSection("tripManager", required: false)
    @RenderSection("hotellist", required: false)
    <script>
            var flag0 = "@ViewBag.Domain/assets/images/flags/en.png";
            var flag1 = "@ViewBag.Domain/assets/images/flags/de.png";
            var en = "@Url.Action(null, null, new { lang = "en" })";
            var de = "@Url.Action(null, null, new { lang = "de" })";
    </script>
</body>
</html>