﻿<section class="jumbotron error-image" id="error">
    <div class="row justify-content-end main-content bg-overlay">
        <div class="col-12 col-md-8">
            <h1 class="heading">@Resources.Strings.ErrorMessageHeader</h1>
            <h1>@Resources.Strings.ErrorMessage</h1>
            <h1>@Resources.Strings.GoBackMessage <a href="@Url.Action("Index", "Home", new { lang = ViewBag.Lang })">@Resources.Strings.HomePage</a></h1>
            <h1>@ViewBag.ErrorCode</h1>
</div>
    </div>
</section>