﻿<section class="jumbotron">
    <div class="main-content">
        <ins class="bookingaff" data-aid="1550736" data-target_aid="@ViewBag.AffiliateId" data-prod="nsb" data-width="500" data-height="330" data-lang="en" data-currency="USD" data-df_num_properties="3">
            <!-- Anything inside will go away once widget is loaded. -->
            <a href="//www.booking.com?aid=@ViewBag.AffiliateId">Booking.com</a>
        </ins>
    </div>
</section>
    <script type="text/javascript">
        (function (d, sc, u) {
            var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = u + '?v=' + (+new Date());
            p.parentNode.insertBefore(s, p);
        })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
    </script>
